* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #98cffe;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    background-color: #17afbe;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;   
}

.zelda-logo {
    width: 60vw;
}

#header-img {
    object-fit: contain;
    width: 60px;
    padding: 2px;
}

.page-name {
    position: relative;
    bottom: 12px;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Charlemagne Std', sans-serif;                                               
}

#nav-bar ul {
    font-family: 'Charlemagne Std', sans-serif;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40vw;
}

#nav-bar li {
    margin: 3px;
    padding: 5px;
}

#nav-bar li:hover {
    background-color: green;
}

.nav-link {
    color: black;
    text-decoration: none; 
    padding: 15px;   
}

#description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 145px;
}

#form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
}

section {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 50px 25px;
}

#email {
    padding: 5px;
    max-width: 230px;
    min-width: 100px;
    width: 230px;
    height: 25px;
}

#submit {
    border-radius: 3px;
    background-color: gold;
    font-size: 12px;
    font-weight: bold;
    max-width: 150px;
    width: 100px;
    height: 25px;
    cursor: pointer;
}

#submit:hover {
    background-color: #CDC50A;
}

#Features {
    margin: auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
}

.layout {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icons {
    color: #03AC13;
    font-size: 60px;
    margin-right: 30px;
}

.message {
    text-align: justify;
}

h2 {
    margin-bottom: 5px;
}

#Quick_Look {
    margin: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#video {
    display: flex;
    min-width: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px 2px;
}

#Pricing {
    margin: 40px 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product {
    background-color: #99EDC3;
    border: 2px solid black;
    border-radius: 4px;
    margin: 5px 3px;
    min-width: 350px;
    width: calc(70%/3);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.product-title {
    font-size: 20px;
    font-weight: bold;
    background-color: #03C04A;
    padding: 10px 0;
    width: 100%;
}

.product h2 {
    margin-top: 10px;
}

.product ul {
    margin: 15px 30px;
}

.product li {
    text-align: left;
    padding: 5px;
}

.button {
    border: none;
    border-radius: 3px;
    background-color: gold;
    font-size: 12px;
    font-weight: bold;
    max-width: 150px;
    min-width: 100px;
    width: 100px;
    height: 25px;
    margin-top: auto;
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.2s ease-in;
} 

.button:hover {
    background-color: #CDC50A;
    transform: translateZ(10px);
}

footer {
    font-size: 20px;
    text-align: left;
    border-top: 3px solid black;
    padding: 15px;
}

@media (max-width: 650px) {
    #header {
        display: flex;
        flex-direction: column;
    }

    #nav-bar ul {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 600px) {
    #Quick_Look {
        flex-direction: column;
        align-items: center;
    }

    #video {
        width: 500px;
    }

    #pricing {
        flex-direction: column;
        align-items: center;
    }

    .product {
        width: 350px;
    }

    footer {
        display: flex;
        text-align: center;
    }
}
